.jumbotron {
    background-color: #8499b4;
    color: white;
    
}

button {
    color: white;
}

h1 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

h4{
   font-family: 'Roboto Slab', serif;
    text-align: center;
}